<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viv.dao.ProtoFieldOperation">

    <!--分页动态查询 like == null 精确查询 like ！= null 模糊查询-->
    <select id="select" parameterType="java.util.Map" resultType="com.viv.entity.Proto_field">
        SELECT * FROM proto_field
        <where>
            <if test="like == null">
                <if test="proto_field.id != null">
                    id = #{proto_field.id}
                </if>
                <if test="proto_field.proto_id != null">
                    proto_id = #{proto_field.proto_id}
                </if>
                <if test="proto_field.name != null">
                    name = #{proto_field.name}
                </if>
                <if test="proto_field.type != null">
                    type = #{proto_field.type}
                </if>
                <if test="proto_field.extend != null">
                    extend = #{proto_field.extend}
                </if>
                <if test="proto_field.is_array != null">
                    is_array = #{proto_field.is_array}
                </if>
                <if test="proto_field.remarks != null">
                    remarks = #{proto_field.remarks}
                </if>
            </if>
            <if test="like != null">
                <if test="proto_field.id != null">
                    id LIKE #{proto_field.id}
                </if>
                <if test="proto_field.proto_id != null">
                    proto_id LIKE #{proto_field.proto_id}
                </if>
                <if test="proto_field.name != null">
                    name LIKE #{proto_field.name}
                </if>
                <if test="proto_field.type != null">
                    type LIKE #{proto_field.type}
                </if>
                <if test="proto_field.extend != null">
                    extend LIKE #{proto_field.extend}
                </if>
                <if test="proto_field.is_array != null">
                    is_array LIKE #{proto_field.is_array}
                </if>
                <if test="proto_field.remarks != null">
                    remarks LIKE #{proto_field.remarks}
                </if>
            </if>
        </where>
        <if test="page != null">
            ORDER BY ${page.orderFieldStr} ${page.orderDirectionStr}
            <if test="page.pageStart>-1 and page.pageSize>-1">
                limit #{page.pageStart},#{page.pageSize}
            </if>
        </if>
    </select>

</mapper>