<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viv.dao.ProtoOperation">

    <!--添加一个实体-->
    <insert id="insert" parameterType="com.viv.entity.Proto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO proto (project_id,cmd,name,namespace,describes)
        VALUES (#{project_id},#{cmd},#{name},#{namespace},#{describes})
    </insert>
    <!--根据id删除一个实体-->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM proto
        WHERE id=#{id}
    </delete>
    <!--根据id修改一个实体-->
    <update id="updateBy" parameterType="com.viv.entity.Proto">
        UPDATE proto
        SET project_id=#{project_id},cmd=#{cmd},name=#{name},namespace=#{namespace},describes=#{describes}
        WHERE id=#{id}
    </update>
    <!--根据id查询一个实体 -->
    <select id="selectById" parameterType="java.lang.Long" resultType="com.viv.entity.Proto">
        SELECT * FROM proto
        WHERE id=#{id}
    </select>
    <!--根据project_id查询实体-->
    <select id="selectByProjectId" parameterType="java.lang.Long" resultType="com.viv.entity.Proto">
        SELECT * FROM proto
        WHERE project_id=#{project_id}
    </select>
    <!--根据project_id，返回记录数量-->
    <select id="countByProjectId" parameterType="java.lang.Long" resultType="int">
        SELECT count(id) FROM proto
        WHERE project_id = #{project_id}
    </select>
    <!--动态分页查询 like==null 精确查询   like ！= null 模糊查询-->
    <select id="select" parameterType="java.util.Map" resultType="com.viv.entity.Proto">
        SELECT * FROM proto
        <where>
            <if test="like == null">
                <if test="proto.id != null">
                    id =  #{proto.id}
                </if>
                <if test="proto.project_id != null">
                    AND project_id = #{proto.project_id}
                </if>
                <if test="proto.cmd != null">
                    AND cmd = #{proto.cmd}
                </if>
                <if test="proto.name != null">
                    AND name = #{proto.name}
                </if>
                <if test="proto.namespace != null">
                    AND namespace = #{proto.namespace}
                </if>
                <if test="proto.describes != null">
                    AND describes = #{proto.describes}
                </if>
            </if>
            <if test="like != null">
                <if test="proto.id != null">
                    id LIKE  #{proto.id}
                </if>
                <if test="proto.project_id != null">
                    AND project_id LIKE #{proto.project_id}
                </if>
                <if test="proto.cmd != null">
                    AND cmd LIKE #{proto.cmd}
                </if>
                <if test="proto.name != null">
                    AND name LIKE #{proto.name}
                </if>
                <if test="proto.namespace != null">
                    AND namespace LIKE #{proto.namespace}
                </if>
                <if test="proto.describes != null">
                    AND describes LIKE #{proto.describes}
                </if>
            </if>
        </where>
        <if test="page != null">
            ORDER BY ${page.orderFieldStr} ${page.orderDirectionStr}
            <if test="page.pageStart>-1 and page.pageSize>-1">
                limit #{page.pageStart},#{page.pageSize}
            </if>
        </if>
    </select>
    <!--动态更新-->
    <update id="update" parameterType="com.viv.entity.Proto">
        UPDATE proto
        <set>
            <if test="project_id != null and project_id != ''">
                project_id = #{project_id},
            </if>
            <if test="cmd != null and cmd != '' ">
                cmd = #{cmd},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="namespace != null">
                namespace = #{namespace},
            </if>
            <if test="describes != null">
                describes = #{describes}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>