<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viv.dao.ProtoFieldOperation">

    <!--分页动态查询 like == null 精确查询 like ！= null 模糊查询-->
    <select id="select" parameterType="java.util.Map" resultType="com.viv.entity.Proto_field">
        SELECT * FROM proto_field
        <where>
            <if test="like == null">
                <if test="proto_field.id != null">
                    id = #{proto_field.id}
                </if>
                <if test="proto_field.proto_id != null">
                    proto_id = #{proto_field.proto_id}
                </if>
                <if test="proto_field.name != null">
                    name = #{proto_field.name}
                </if>
                <if test="proto_field.type != null">
                    type = #{proto_field.type}
                </if>
                <if test="proto_field.extend != null">
                    extend = #{proto_field.extend}
                </if>
                <if test="proto_field.is_array != null">
                    is_array = #{proto_field.is_array}
                </if>
                <if test="proto_field.remarks != null">
                    remarks = #{proto_field.remarks}
                </if>
            </if>
            <if test="like != null">
                <if test="proto_field.id != null">
                    id LIKE #{proto_field.id}
                </if>
                <if test="proto_field.proto_id != null">
                    proto_id LIKE #{proto_field.proto_id}
                </if>
                <if test="proto_field.name != null">
                    name LIKE #{proto_field.name}
                </if>
                <if test="proto_field.type != null">
                    type LIKE #{proto_field.type}
                </if>
                <if test="proto_field.extend != null">
                    extend LIKE #{proto_field.extend}
                </if>
                <if test="proto_field.is_array != null">
                    is_array LIKE #{proto_field.is_array}
                </if>
                <if test="proto_field.remarks != null">
                    remarks LIKE #{proto_field.remarks}
                </if>
            </if>
        </where>
        <if test="page != null">
            ORDER BY ${page.orderFieldStr} ${page.orderDirectionStr}
            <if test="page.pageStart>-1 and page.pageSize>-1">
                limit #{page.pageStart},#{page.pageSize}
            </if>
        </if>
    </select>

    <!--添加一个实体-->
    <insert id="insert" parameterType="com.viv.entity.Proto_field" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO proto_field (proto_id, name, type, extend, is_array, remarks)
        VALUES (#{proto_id},#{name},#{type},#{extend},#{is_array},#{remarks})
    </insert>

    <!--动态更新-->
    <update id="update" parameterType="com.viv.entity.Proto_field">
        UPDATE proto_field
        <set>
            <if test="proto_id != null and proto_id != ''">
                proto_id = #{proto_id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="extend != null and extend != ''">
                extend = #{extend},
            </if>
            <if test="is_array != null and is_array != ''">
                is_array = #{is_array},
            </if>
            <if test="remarks != null">
                remarks = #{remarks}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--删除一个实体-->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM proto_field
        WHERE id = #{id}
    </delete>

</mapper>