<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viv.dao.UserOperation">

    <!--登录时验证用户是否存在-->
    <select id="selectByUsernamePassword" parameterType="com.viv.entity.User" resultType="com.viv.entity.User">
        select * from user
        where username=#{username} AND password=#{password}
    </select>
    <!--注册时验证用户是否存在-->
    <select id="selectByUsername" parameterType="String" resultType="com.viv.entity.User">
        select * from user
        where username=#{username}
    </select>
    <!--增加一个user对象-->
     <insert id="insert" parameterType="com.viv.entity.User" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO user (name,username,password)
         values (#{name},#{username},#{password})
     </insert>
    <!--更新一个user对象-->
    <update id="update" parameterType="com.viv.entity.User">
      UPDATE user SET
      name=#{name},
      username=#{username},
      password=#{password}
      WHERE id=#{id}
    </update>
    <!--删除一个user对象-->
    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE id=#{id}
    </delete>

    <!--动态分页查询 like==null 精确查询  like ！= null 模糊查询-->
    <select id="select" parameterType="java.util.Map" resultType="com.viv.entity.User">
        SELECT * FROM user
        <where>
            <if test="like == null">
                <if test="user != null">
                    <if test="user.id != null">
                        id = #{user.id}
                    </if>
                    <if test="user.name != null">
                        AND name = #{user.name}
                    </if>
                    <if test="user.username != null">
                        AND username = #{user.username}
                    </if>
                    <if test="user.password">
                        AND password = #{user.password}
                    </if>

                </if>
            </if>
            <if test="like != null">
                <if test="user != null">
                    <if test="user.id != null">
                        id LIKE #{user.id}
                    </if>
                    <if test="user.name != null">
                        AND name LIKE #{user.name}
                    </if>
                    <if test="user.username != null">
                        AND username LIKE #{user.username}
                    </if>
                    <if test="user.password">
                        AND password LIKE #{user.password}
                    </if>

                </if>
            </if>
        </where>
        <if test="page != null">
            ORDER BY ${page.orderFieldStr} ${page.orderDirectionStr}
            <if test="page.pageStart>-1 and page.pageSize>-1">
                limit #{page.pageStart},#{page.pageSize}
            </if>
        </if>
    </select>
</mapper>